
.in-navigation {
	display: flex;
	flex-flow: column nowrap;
	clear: both;
	height: 50px;
	line-height: 50px;
	background: #d9d9d9;
	border-radius: 10px;
	box-shadow: inset 0 0 1px 1px #012d35;
	position: fix;
	top: 30px;
	left:0;
	width: 80%;
	z-index:20;
	clear: both;
	display: block;
	float: left;
	width: 100%;
}


.main-navigation {
	clear: both;
	display: block;
	background: #d9d9d9;
	float: left;	
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
					
				}
			}

			a {
				width: 200px;
				border:2px solid green;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
			
		  }

		}
		/* each li had a class of menu-item.#d9d9d9; */
		.menu-item{
			border:2px solid #c4c4c4;
			font-size: 22px;
			padding:5px;
			margin:2px;
			background:#d9d9d9;
			border-radius: 25px;

			
		}
		li.menu-item:hover {
			background:#c5c6c1;
		}



	}
	  
	li {
		float: left;
		position: relative;
		background:#d9d9d9;
		&:hover > a,
		&.focus > a {
			
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
