//<div id="page" class="site"> div just under body element
.site{
	border:2px solid blue;
	margin:0 auto;
}

//starts in the header
.site-content {
	padding: 1em;
	border:2px solid yellow;
	margin: 0 auto;

	//$query__small: 600px;
	@media screen and (min-width: $query__small) {
		padding: 2em;
	}
}
.site-header {
	background-color: #fafafa;
	position: relative;
	border:2px solid red;
	width:98%;
	margin:5px;
	padding:5px;
}

	/* Layout */

	.wrap {
		max-width: 1000px;
		padding-left: 3em;
		padding-right: 3em;
	}